@page
@model NorthwindWeb.Pages.SuppliersModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<div class="row">
    <h1 class="display-2">Suppliers</h1>
    <table class="table">
        <thead class="thead-inverse">
            <tr>
                <th>Company Name</th>
                <th>Country</th>
                <th>Telephone</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th>
                    @foreach (string name in Model.Suppliers)
                    {
                        <tr><td>@name</td></tr>
                    }
                </th>
                <th>
                    @foreach (string country in Model.Countries)
                    {
                        <tr><td>@country</td></tr>
                    }
                </th>
                <th>
                     @foreach(string phone in Model.Phones)
                    {
                        <tr><td>@phone</td></tr>
                    }
                </th>
            </tr>
        </tbody>
    </table>
    <div class="row">
        <p>Enter a name for a new supplier: </p>
        <form method="POST">
            <div><input asp-for="Supplier.CompanyName" /></div>
            <input type="submit" />
        </form>
    </div>

</div>