@page
@model NorthwindWeb.Pages.SuppliersModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<div class="row">
    <h1 class="display-2">Suppliers</h1>
    <table class="table">
        <thead class="thead-inverse">
            <tr>
                <th>Company Name</th>
                <th>Country</th>
                <th>Telephone</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th>
                    @foreach (string name in Model.Suppliers)
                    {
                        <tr><td>@name</td></tr>
                    }
                </th>
                <th>
                    @foreach (string country in Model.Countries)
                    {
                        <tr><td>@country</td></tr>
                    }
                </th>
                <th>
                     @foreach(string phone in Model.Phones)
                    {
                        <tr><td>@phone</td></tr>
                    }
                </th>
            </tr>
        </tbody>
    </table>
    <div class="row">
        <form method="POST">
            <label>Enter a new supplier name: </label>
                <input class="form-control col-sm-2" asp-for="Supplier.CompanyName" /><br/>
            <label>Enter a new phone for supplier: </label>
                <input class="form-control col-sm-2" asp-for="Supplier.Phone" /><br/>
            <label>Enter a new Country for supplier: </label>
                <input class="form-control col-sm-2" asp-for="Supplier.Country" /><br/>
            <input class="btn btn-dark" type="submit" />
        </form>
    </div>

</div>