@page
@model NorthwindCustomers.MyFeature.Pages.CustomersPageModel


<div class="container">
    <h2 class="h2">Customer</h2>
    @foreach (string name in Model.name)
    {
        <p>
            <a href="customerOrder" type="submit" class="btn">
                @name
            </a>
        </p>
    }
    @foreach (string country in Model.country)
    {
        <p>
            @country
        </p>
    }
</div>
